@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

.scroll-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.scroll-content {
    display: flex;
    gap: 1.5rem;
    will-change: transform;
}

.project-card {
    flex: 0 0 auto;
    width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    body {
      cursor: none;
    }
  }

  a, button, [role="button"], input, textarea, select {
    cursor: none;
  }